<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{topic}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
    <p>ส่งจาก {{email}} - {{senderName}}</p>
    <p>หัวข้อ {{topic}}</p>
    <p>{{message}}<p>
  </body>
</html>