<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Everium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
    <p>ชื่อ {{firstName}} {{lastName}}</p>
    <p>รหัสบัตรประชาชน {{citizenId}}</p>
    <p>เบอร์โทรศัพท์ {{phoneNumber}}</p>
    <p><a href="{{clientUrl}}/users/verify-seller/{{verifySellerToken}}"> อนุญาตการเป็นผู้ขาย </a> <p>
  </body>
</html>